@use '../variables' ;

.login-container {
  background-color: var(--bg-content);

  .login-left {
    background-color: var(--bg-content);

    p {
      font-size: 1.3rem;
      color: var(--text-secondary);
    }
  }

  .login-form {
    width: 100%;
    max-width: 400px;
  }

  .support {
    &:hover {
      text-decoration: underline;
    }
  }
}
